apiVersion: v1
kind: ServiceAccount
metadata:
  name: csi-attacher
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: external-attacher-runner
rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["volumeattachments"]
    verbs: ["get", "list", "watch", "update"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: csi-attacher-role
subjects:
  - kind: ServiceAccount
    name: csi-attacher
    namespace: csi-plugins-azurefile
roleRef:
  kind: ClusterRole
  name: external-attacher-runner
  apiGroup: rbac.authorization.k8s.io
---
kind: StatefulSet
apiVersion: apps/v1beta1
metadata:
  name: csi-attacher
spec:
  serviceName: "csi-attacher"
  replicas: 1
  template:
    metadata:
      labels:
        app: csi-attacher
    spec:
      serviceAccount: csi-attacher
      containers:
        - name: csi-attacher
          image: quay.io/k8scsi/csi-attacher:v0.2.0
          args:
            - "--v=5"
            - "--csi-address=$(CSI_ENDPOINT)"
          env:
            - name: CSI_ENDPOINT
              value: /var/lib/kubelet/plugins/csi-azurefile/csi.sock
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/kubelet/plugins/csi-azurefile
        - name: plugin
          imagePullPolicy: Always
          image: karataliu/csi-azurefile:4
          env:
            - name: CSI_ENDPOINT
              value: /var/lib/kubelet/plugins/csi-azurefile/csi.sock
            - name: CSI_SERVICE_DISABLE_NODE
              value: '1'
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/kubelet/plugins/csi-azurefile
      volumes:
        - name: socket-dir
          emptyDir:
